* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Raleway;
    background-color: #c9d2f3;
}
header {
    text-align: center;
    font-size: smaller;
    padding: 1rem 0;
    background-color: #1465e7;
    width: 100%;
}
h1 {
    margin-top: 1rem;
    text-align: center;
    font-weight: 300;
    color: white;
}
h1 span{
    font-weight: 700;
}
h2 {
    margin-bottom: 1rem;
    font-weight: 500;
}
.content {
    margin: 1rem 0;
    padding: .25rem;
}
form {
    padding-top: .5rem;
}
input {
    margin-left: .5rem;
    vertical-align: baseline;
}
#hideCompleted {
    margin-right: .25rem;
    vertical-align: baseline;
}
#text {
    margin-top:30px;
}
#todos {
    margin: .5rem;
    padding: .25rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
button {
    height: 20px; 
    vertical-align: baseline;
}
.todo-chk {
    margin-right: .25rem;
}
.delete-btn {
    float:right;
}
.todo-div:nth-child(even){
    background-color: #b5c2ee;
}
.footer {
    text-align: center;
    font-size: smaller;
    margin-top: 2rem;
}
.footer {
    text-align: center;
    font-size: .8rem;
    margin: 2rem 0 0 0;
    padding: 2rem 0;
    background-color: #1465E7;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}